<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EDIT PROFILE</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
   <%- include('../header.ejs') %>
      <form class="input-section url-form" id="input-section" action="edit-profile" method="POST"  id="url-form" enctype="multipart/form-data">

        <% if(avatar) { %>
          <img src="<%=avatar%>" alt="Current profile picture" width="150" height="150" > 
        <% } else { %>
          <img src="" alt="preview" style="display: none">
        <%}%>
        <div>
          <input type="file" name="avatar" id="" accept="image/*">
          <% if(avatar) {%>
            <button type="button">remove</button>
          <%}%> 
        </div>
        <div class="input-field">
          <input
            type="text"
            name="name"
            value="<%=name%>"
            placeholder="Shorten a link here..."
            required
          />
          <span class="clear-btn" id="clear-optional">×</span>
        </div>
        
        <button class="shorten-btn" type="submit">Edit</button>
      </form>
      <%- include('../footer.ejs') %>
    </div>
  </body>
</html>
