<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <div class="logo wide">
          <!-- <img src="./assets/logo.svg" alt=""> -->
          <h1>Shortly</h1>
        </div>
        <div class="features">
          <h3>Features</h3>
          <p>Link Shortening</p>
          <p>Branded Links</p>
          <p>Analytics</p>
        </div>
        <div class="resources">
          <h3>Resources</h3>
          <p>Blog</p>
          <p>Developers</p>
          <p>Support</p>
        </div>
        <div class="company">
          <h3>Company</h3>
          <p>About</p>
          <p>Our Team</p>
          <p>Careers</p>
          <p>Contact</p>
        </div>
        <div class="share-link wide">
          <img src="../assets/icon-facebook.svg" alt="" title="Facebook" />
          <img src="../assets/icon-twitter.svg" alt="" title="Twitter" />
          <img src="../assets/icon-pinterest.svg" alt="" title="Pinterest" />
          <img src="../assets/icon-instagram.svg" alt="" title="Instagram" />
        </div>
      </footer>
</body>
</html>