<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <% if(user) { %>
        <h2 class="logged-in">You are logged In✔️</h2>
    <%} else { %>
    <h2 class="logged-out">You are not logged in❌</h2>
    <% } %>

      <header class="header">
      <div class="left">
        <div class="logo">
          <a href="/">
            <img src="../assets/logo.svg" alt="" />
          </a>
        </div>
        <p class="feature">Features</p>
        <p>Pricing</p>
        <p>Resources</p>
      </div>
      <div class="right">
        <% if(user){ %>
          <p><a style="text-decoration: none; color: grey; " href="profile">Profile</a></p>
          <p><a style="text-decoration: none; color: grey; " href="logout">Logout</a></p>
          <% } else { %>
            <p><a style="text-decoration: none; color: grey; " href="login">Login</a></p>
            <p><a style="text-decoration: none; color: grey; " href="register">Sign Up</a></p>
            <% } %>
          </div>
        </header>
      </main>
  </body>
</html>
